dconf/**
discord/**
spotify/**
pulse/**
gtk-3.0/**
pavucontrol.ini
Slack/**
Thunar/**
lutris/**
menus/**
xfce4/**
waybar/weather.py
Authy Desktop/**
Postman/**
chromium/**
mimeapps/**
sst-nodejs/**
notion-app/**
mimeapps.list
